*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root {
    --color-primary-1: #f3ffed;
    --color-primary-2: #25a000c0;
    --color-primary-3: #6dcc00;
    --color-primary-4: #06be00;
    --color-primary-5: #008b0c;
    --color-primary-6: #00dd259c;
    --color-primary-7: #7da870;
    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}
#mvv{
     width: 100%;
     height: 60vh;
     margin: 120px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-family: "poppins", sans-serif;
}

#mvv_content{
     width: 60%;
     border-radius: 30px;
     border-left: solid 5px var(--color-primary-2);
     padding: 15px;
}
#mvv_content  p{
     padding: 15px 0px 5px 20px ;
     text-align: justify;
     font-family: "poppins", sans-serif;
}

.mvv-title{
     display: flex;
     width: fit-content;
     align-items: center;
     justify-content: center;
     gap: 10px;
     font-size: 1.33rem;
     font-style: italic;
     color: var(--color-primary-2);
     font-family: "poppins", sans-serif;
}


@media screen and (max-width: 1150px) {

     #mvv_content{
          width: 70%;
          padding: 10px;
          margin-top: 5vh;
     }
    
     
}
@media screen and (max-width: 775px) {

     #mvv{
          height: 75vh;
     }
     #mvv_content{
          width: 90%;
          padding: 10px;
          margin-top: 7.5%;
     }
     
}

@media screen and (max-width: 630px) {
     #mvv_content{
          width: 100%;

     }

}

@media screen and (max-width: 500px) {
     #mvv{
          padding: 0;
     }
     #mvv_content{
          width: 95%;

     }
}    